@model ModelLayer.Services.EmployeeModel

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/create.css" />

<div class="head">
     <img src="~/Assets/logo.png" style="width:50px;height:47px" />
     <div>
          <span style="color: #82A70C">EMPLOYEE</span><br />
          <span style="color: #42515F"> PAYROLL</span>
     </div>
 </div>
 <div class="heading" >
     <h3>Add New Employee</h3>
 </div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="emp_id" class="control-label"></label>
                <input asp-for="emp_id" class="form-control" />
                <span asp-validation-for="emp_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NAME" class="control-label"></label>
                <input asp-for="NAME" class="form-control" />
                <span asp-validation-for="NAME" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GENDER" class="control-label"></label>
                <select asp-for="GENDER" class="form-control" >
                    <option>Male</option> 
                    <option>Female</option> 
                </select>
                <span asp-validation-for="GENDER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEPARTMENT" class="control-label"></label>
                <input asp-for="DEPARTMENT" class="form-control" />
                <span asp-validation-for="DEPARTMENT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SALARY" class="control-label"></label>
                <input asp-for="SALARY" class="form-control" />
                <span asp-validation-for="SALARY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="START_DATE" class="control-label"></label>
                <input asp-for="START_DATE" type="datetime" class="form-control" />
                <span asp-validation-for="START_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NOTES" class="control-label"></label>
                <input asp-for="NOTES" class="form-control" />
                <span asp-validation-for="NOTES" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMG" class="control-label"></label>
                 <div >
                        @Html.RadioButtonFor(model => model.IMG, "~/Assets/Male (1).png")
                        <img class="Profile-image-1 " src = "~/Assets/Male (1).png"  />
                        @Html.RadioButtonFor(model => model.IMG, "~/Assets/Female (3).png")
                        <img class="Profile-image-1 " src="~/Assets/Female (3).png" />
                        @Html.RadioButtonFor(model => model.IMG, "~/Assets/Male (2).png")
                        <img class="Profile-image-1 " src="~/Assets/Male (2).png" />
                        @Html.RadioButtonFor(model => model.IMG, "~/Assets/Female (5).png")
                        <img class="Profile-image-1 " src="~/Assets/Female (5).png" />
                        </div>

                <span asp-validation-for="IMG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
